.property-card {
    position: relative;
    width: 99.5%;
    height: 100%;
    cursor: pointer;
    &:hover {
        border: 1px solid #FC495D;
    }
    &__sticker {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        background-color: #19263A;
        color: white;
        text-transform: uppercase;
    }
    &__info {
        display: flex;
        @media screen and (max-width: 790px) {
            flex-direction: column;
            border: 1px solid #BDBDBD;
        }
    }
    &__image {
        width: 60%;
        @media screen and (max-width: 790px) {
            width: 100%;
        }
    }
    &__content {
        width: 40%;
        border: 1px solid #BDBDBD;
        border-left: none;
        padding: 25px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 790px) {
            width: 100%;
            border: none;
        }
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
        color: #19263A;
    }
    &__location {
        width: 80%;
        color: #828282;
        margin-bottom: 1em;
    }
    &__features {
        display: flex;
        justify-content: space-between;
        margin: 1em 0;
        width: 80%;
    }
    &__feature {
        display: flex;
    }
    &__feature-text {
        color: #828282;
        margin-left: 9px;
        margin-top: 6px;
    }
    &__description {
        color: #828282;
        width: 80%;
        margin: 1em 0;
    }
    &__owner {
        margin-top: auto;
        display: flex;
        border-radius: 50px;
        width: 90%;
        &:hover {
            background-color: #e9e9e9;
        }
    }
    &__owner-info {
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__owner-name {
        font-weight: bold;
    }
    &__owner-contact {
        color: #FC495D;
    }
}